<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的-->
<mapper namespace="com.shpos.dao.ShopDao">
    <insert id="insertShop" useGeneratedKeys="true" keyColumn="shop_id" keyProperty="shopId">
        insert  into
        tb_shop(
        owner_id, shop_name, shop_img, shop_desc, priority, shop_adress, phone, advice,
        enable_status, create_time, area_id, shop_category_id
        )
        VALUES (
        #{owner.userId}, #{shopName}, #{shopImg}, #{shopDesc}, #{priority},#{shopAdress},#{phone}
        ,#{advice}, #{enableStatus}, #{createTime},#{area.areaId},#{shopCategory.shopCategoryId}
        )
    </insert>
    
    <update id="updateShop" parameterType="com.shpos.entity.Shop">
        update tb_shop
        <set>
            <if test="shopName != null and shopName != ''">
                shop_name = #{shopName},
            </if>
            <if test="shopImg != null and shopImg != ''">
                shop_img = #{shopImg},
            </if>
            <if test="shopDesc != null and shopDesc != ''">
                shop_desc = #{shopDesc},
            </if>
            <if test="priority != null">
                priority = #{priority},
            </if>
            <if test="shopAdress != null and shopAdress != ''">
                shop_adress = #{shopAdress},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="advice != null and advice != ''">
                advice = #{advice},
            </if>
            <if test="enableStatus != null">
                enable_status = #{enableStatus},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime},
            </if>
            <if test="area != null">
                area_id = #{area.areaId},
            </if>
            <if test="shopCategory != null">
                shop_category_id = #{shopCategory.shopCategoryId}
            </if>
        </set>
        where shop_id = #{shopId}
    </update>
</mapper>